.outer-table {
	display: table;
	height: 100%;
	width: 100%;
}

.inner-table {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.home-contents {
	background: url('../jpg/home-bg.jpg');
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	padding: 25px;
}

/*.home-logo {
	margin-top: 75px;
}

.home-typo {
	margin-top: 150px;
}*/

.home-typo:first-child {
	background-color: transparent;
	font-family: 'Open Sans', 'Noto Sans', 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-top: 150px;
	margin-bottom: 0px;
	padding: 0px;
}

.home-typo:last-child {
	background-color: transparent;
	font-family: 'Open Sans', 'Noto Sans', 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	margin-top: 0px;
	padding: 0px;
}

.home-description h2:first-child {
	color: #fff;
	font-family: 'Roboto', 'Noto Sans', 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0px;
}

.home-description h2:last-child {
	color: #fff;
	font-family: 'Roboto', 'Noto Sans', 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 0px;

}

.lrnmr-btn {
	background-color: transparent;
	color: #fff;
	font-family: 'Noto Sans', 'Roboto', 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 0px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 75px;
	padding-bottom: 10px;
	padding-left: 75px;
	outline: none;
}

.lrnmr-btn:hover {
	background-color: #76ff03;
	color: #fff;
	border: 1px solid #76ff03;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.lrnmr-btn:focus {
	background-color: #76ff03;
	color: #fff;
	border: 1px solid #76ff03;
	outline: none;
	-webkit-animation-name: bounce;
	animation-name: bounce;
}