.services-contents {
	background-color: #fff;
	width: 100%;
	min-height: 100vh;
	padding: 25px;
}

.services-title {
	font-family: 'Roboto', '', '', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	margin-top: 50px;
}

.services-title::after {
	display: block;
	content: "";
	height: 1px;
	width: 50px;
	background-color: #dddddd;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}